body {
    width: 100%;  
}

p {
    font-kerning: normal;
    font-family: "Arial", "Helvetica", sans-serif;
    letter-spacing: -0.03em; 
    line-height: 1.5em;
}

a {
    color:black !important ;
    text-decoration: none !important;
}

a:hover {
    color: black;
    text-decoration: none !important;
}

.nvPropia {
    background-color: transparent !important; 
    box-shadow: 0 5px 2px -2px gainsboro;
}

.bt-icono {
    border: none; 
    background-color:transparent;
}

ul {
    list-style-type: none;
    padding: 0px;
}

h1 {font-size: 2.5em;}
h2 {font-size: 1.4em;}

.color-negro {
    color: black;
}

hr {

    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color:#adadad;
    height: 1px;
}

.fa-home {
    position: fixed;
    right: 20px;
    bottom: 2em;
    font-size: 20px;
    border: none;
    background: #adadad;
    color: aliceblue;
    padding: 12px;
    border-radius: 8px;
    display: none;
}


.seccion {
    margin-top: 30px;
    margin-bottom: -10px;
    font-size: 45px;
}

.noticiagrande {
    font-size: 3em;
}

.fiba19  {
    background: linear-gradient(90deg, rgba(132,5,17,1) 0%, rgba(227,10,30,1) 100%);
    height: 1.3em;
    font-weight: bolder;
    font-size: 1.4rem;
    margin-bottom: 3px;
}
.fiba19 a{
    color: white !important ;
}

.navbar-fiba19 .navbar .navbar-nav{
    margin : 0 auto;
}

.navbar-fiba19 .navbar .nav-item a {
    color: #FFF !important;
}

.navbar-fiba19 .navbar img {
    margin-bottom: 3px; 
}

.navbar-directv .navbar {
    background: transparent !important;
}

.navbar-directv .navbar img {
    display: block;
    margin: auto;
}

.navbar-otrasnoticias h2 {
    text-align: center;
    background-color: rgb(219, 217, 217);
    color: black;
}

.row img {
    height: 50px;
}

.carousel-control-prev-icon {
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}


.carrusel{
    padding: 10px;
    border: 1px solid #e9e9e9;
    border-bottom-color: #d5d5d5;
    border-bottom-width: 2px;
    border-radius: 4px;
    background-color: #ffffff;
    color: #333333;
}


.col-md-3{
    display: inline-block;
    margin-left:-4px;
  }
  .col-md-3 img{
    width:100%;
    height:auto;
  }
  body .carousel-indicators li{
    background-color:grey;
  }
  body .carousel-indicators{
    bottom: 0;
  }
  body .carousel-control-prev-icon,
  body .carousel-control-next-icon{
    background-color:grey;
  }
  body .no-padding{
    padding-left: 0;
    padding-right: 0;
     }